{
  "_sharedPlatform": {
    "PROJECT_NAME": "aws-ddd-api",
    "STAGE_NAME": "development",
    "LAMBDA_ALIAS_NAME": "development",
    "CONFIG_NAMESPACE": "/petpetclub/aws-ddd-api/development",
    "NODE_ENV": "development",
    "ALLOWED_ORIGINS": "*",
    "AUTH_BYPASS": "false",
    "MONGODB_URI": ""
  },
  "_requestAuthorizer": {
    "JWT_SECRET": "",
    "AUTH_BYPASS": "false",
    "STAGE_NAME": "development"
  },
  "AuthFunction": {
    "MONGODB_URI": "",
    "JWT_SECRET": "",
    "AUTH_BYPASS": "false",
    "REFRESH_TOKEN_MAX_AGE_SEC": "",
    "REFRESH_RATE_LIMIT_LIMIT": "20",
    "REFRESH_RATE_LIMIT_WINDOW_SEC": "300",
    "SMTP_HOST": "",
    "SMTP_PORT": "465",
    "SMTP_USER": "",
    "SMTP_PASS": "",
    "SMTP_FROM": "",
    "TWILIO_ACCOUNT_SID": "",
    "TWILIO_AUTH_TOKEN": "",
    "TWILIO_VERIFY_SERVICE_SID": ""
  },
  "UserFunction": {
    "MONGODB_URI": ""
  },
  "NgoFunction": {
    "MONGODB_URI": ""
  },
  "PetProfileFunction": {
    "MONGODB_URI": "",
    "AWS_BUCKET_NAME": "",
    "AWS_BUCKET_BASE_URL": "",
    "AWS_BUCKET_REGION": ""
  },
  "PetSourceFunction": {
    "MONGODB_URI": ""
  },
  "PetTransferFunction": {
    "MONGODB_URI": ""
  },
  "PetAdoptionFunction": {
    "MONGODB_URI": "",
    "ADOPTION_MONGODB_URI": ""
  },
  "PetMedicalFunction": {
    "MONGODB_URI": ""
  },
  "PetAnalysisFunction": {
    "MONGODB_URI": "",
    "AWS_BUCKET_NAME": "",
    "AWS_BUCKET_BASE_URL": "",
    "AWS_BUCKET_REGION": "",
    "VM_PUBLIC_IP": "",
    "DOCKER_IMAGE": "",
    "HEATMAP": "",
    "VM_BREED_PUBLIC_IP": "",
    "BREED_DOCKER_IMAGE": ""
  },
  "PetRecoveryFunction": {
    "MONGODB_URI": "",
    "AWS_BUCKET_NAME": "",
    "AWS_BUCKET_BASE_URL": "",
    "AWS_BUCKET_REGION": ""
  },
  "PetBiometricFunction": {
    "MONGODB_URI": "",
    "BUSINESS_MONGODB_URI": "",
    "FACEID_API": "",
    "AWS_BUCKET_NAME": "",
    "AWS_BUCKET_BASE_URL": "",
    "AWS_BUCKET_REGION": ""
  },
  "NotificationsFunction": {
    "MONGODB_URI": ""
  },
  "CommerceFunction": {
    "MONGODB_URI": "",
    "AWS_BUCKET_NAME": "",
    "AWS_BUCKET_BASE_URL": "",
    "AWS_BUCKET_REGION": "",
    "SMTP_HOST": "",
    "SMTP_PORT": "465",
    "SMTP_USER": "",
    "SMTP_PASS": "",
    "SMTP_FROM": "",
    "WHATSAPP_BEARER_TOKEN": "",
    "WHATSAPP_PHONE_NUMBER_ID": "",
    "CUTTLY_API_KEY": ""
  },
  "LogisticsFunction": {
    "MONGODB_URI": "",
    "SF_CUSTOMER_CODE": "",
    "SF_PRODUCTION_CHECK_CODE": "",
    "SF_SANDBOX_CHECK_CODE": "",
    "SF_ADDRESS_API_KEY": "",
    "SMTP_HOST": "",
    "SMTP_PORT": "465",
    "SMTP_USER": "",
    "SMTP_PASS": "",
    "SMTP_FROM": ""
  }
}
